@{
    ViewData["Title"] = "ScarletScreen";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">

</head>


@model ScarletScreen.Model.HomeModel
@using ScarletScreen.Services
@inject TMDbService _tmdbService

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h2>Trending Movies</h2>
            <div class="row">
                @foreach (var tmdbId in Model.TrendingMovieIds)
                {
                    var movieDetails = await _tmdbService.GetMovieDetails(tmdbId);

                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <p class="card-text">@movieDetails.Overview</p>
                            <a href="@Url.Action("Details", "Movie", new { tmdb_id = movieDetails.Id })">
                                <img src="https://image.tmdb.org/t/p/original/@movieDetails.PosterPath" alt="@movieDetails.Title" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@movieDetails.Title</h5>
                       
                                <!--<a href="https://www.youtube.com/watch?v=" target="_blank" class="btn btn-primary">Watch Trailer</a> -->
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
