html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white;
    color: black; /* Set text color to white for better contrast */
    font-family: 'Exo', sans-serif;
}


/* Nav Bar */
.text-red {
    color: #FF2400;
}

.navbar-brand {
    font-family: 'Exo', sans-serif;
    font-size: 2em; /* Adjust as needed */
}


/* Search Bar */
#searchBar {
    display: none; /* Initially hide the search bar */
    position: absolute;
    top: 100%; /* Position below the search button */
    left: 0;
}

    #searchBar.active {
        display: block; /* Show the search bar when it's active */
    }

@media (min-width: 576px) {
    #searchBar {
        position: static; /* Reset position for larger screens */
        display: flex;
        align-items: center;
    }
}

    #searchBar input {
        width: 200px; /* Adjust as needed */
        transition: width 0.3s ease; /* Smooth transition for width changes */
    }

        #searchBar input:focus {
            width: 300px; /* Adjust the expanded width as needed */
        }

/* New Movie Section */
.card-body {
    margin: 0;
    padding: 10px;
    color: black;
}



.card {
    border: solid; /* Gives spacing around image */
    background: white;
}

.card-img-top {
    object-fit: cover; /* Ensure the image covers the entire card */
}

