html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    color: white; /* Set text color to white for better contrast */
}


/* Nav Bar */
.text-red {
    color: #FF2400;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em; /* Adjust as needed */
}


/* Search Bar */
#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #searchBar input {
        width: 200px; /* Adjust as needed */
    }

/* New Movie Section */
.card-body {
    margin: 0;
    padding: 10px;
    color: black;
}



.card {
    border: solid; /* Gives spacing around image */
    background: white;
}

.card-img-top {
    object-fit: cover; /* Ensure the image covers the entire card */
}

