@page
@model ScarletScreen.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<head>
    <link rel="stylesheet" href="~/css/editprofile.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="edit-profile">
        <h1>Change Password</h1>
        <form class="form1" method="post" >

            <label>Enter your Username</label>
            <input class="un" type="text" align="center" placeholder="Username" name="username" required>

            <label>Enter Current Password</label>
            <input class="un" type="password" align="center" placeholder="Current Password" name="currentPassword" required>

            <label> Enter New Password</label>
            <input class="pass" type="password" align="center" placeholder="New Password" name="newPassword" required>
            <br />
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
