@page
@model ScarletScreen.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>


</head>

<body>
    <div class="main">
        <p class="sign" align="center">Hooray!</p>
        <form class="form1" method="post">
            <p align="center"> The link has successfully been sent to your email.</p>

        </form>
    </div>
</body>