@page
@model ScarletScreen.Pages.CreateAccountModel
@{
    ViewData["Title"] = "Account Creation";
}
<head>
    <link rel="stylesheet" href="/css/accountcreation.css">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="benefits-section">
                <h2>Benefits of Creating an Account</h2>
                <ul>
                    <li>Log movies and shows you have watched</li>
                    <li>Leave ratings and reviews</li>
                    <li>Connect with other movie enthusiast</li>
                    <li>Add movies to your personal watchlist</li>
                    <li>Connect with other movie enthusiast</li>
                    <li>Explore unique profile features</li>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="At least 8 characters">
                </div>
                <div class="form-group">
                    <label for="password">Re-enter Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Confirm your password">
                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
        </div>
    </div>
</div>

