@page
@model ScarletScreen.Pages.EditProfileModel
@{
	ViewData["Title"] = "EditProfile";
}
<head>
    <link rel="stylesheet" href="~/css/editprofile.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="edit-profile">
        <h1>Edit Profile</h1>
        <form method="post" enctype="multipart/form-data">

            <label for="ProfilePicture" class="upload-btn">Upload Profile Picture</label>
            <input type="file" id="ProfilePicture" name="ProfilePicture" accept="image/*" style="display: none;">

            <label for="Bio">Bio:</label>
            <textarea id="Bio" name="Bio">Current Bio</textarea>

            <button type="submit">Save Changes</button>
        </form>
    </div>

    <script src="/js/editprofile.js"></script>
</body>

