@page
@model ScarletScreen.Pages.Index1Model
@{
    ViewData["Title"] = "ForgotPassword";
}
<head>
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Forgot Your Password?</p>

        <form class="form1" method="get" action="Confirmation">
            <label align="center"> Enter your email below so we can send you a password reset link! </label>
            <br />
            <input class="un" type="email" align="center" placeholder="Enter your Email Here" name="Email">
            <br />
            <button type="submit" class="submit" align="center">Sign in</button>
        </form>

    </div>
</body>