@page
@model ScarletScreen.Pages.ProfileModel
@{
	ViewData["Title"] = "Profile";
}
<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">

</head>


<div class="profile">
    <div class="profile-header">
        <img src="images/megamind.jpg" alt="Profile Picture" class="profile-picture" />
        <div class="profile-info">
            <h2>@Model.Username</h2>
            <p>Bio: Megamind 10/10.</p>
            <button class="edit-profile-button">Edit Profile</button>
        </div>
    </div>
    <div class="profile-bar"></div>
        <!-- Stats Section -->
        <h3>Statistics</h3>
        <div class="statistics-box">
            <div class="genre-container">
          <div class="row">
            <div class="col-md-4">
                <div class="genre">
                    <div class="genre-name">Action</div>
                    <div class="percentage-bar">
                        <div class="percentage" style="width: 30%;"></div>
                    </div>
                    <div class="percentage-value">30%</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="genre">
                    <div class="genre-name">Comedy</div>
                    <div class="percentage-bar">
                        <div class="percentage" style="width: 60%;"></div>
                    </div>
                    <div class="percentage-value">60%</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="genre">
                    <div class="genre-name">Drama</div>
                    <div class="percentage-bar">
                        <div class="percentage" style="width: 0%;"></div>
                    </div>
                    <div class="percentage-value">0%</div>
                </div>
            </div>
            </div>
            <!-- Repeat the above three columns for each genre -->
            <div class="row">
                <div class="col-md-4">
                    <div class="genre">
                        <div class="genre-name">Romance</div>
                        <div class="percentage-bar">
                            <div class="percentage" style="width: 5%;"></div>
                        </div>
                        <div class="percentage-value">5%</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="genre">
                        <div class="genre-name">Mystery</div>
                        <div class="percentage-bar">
                            <div class="percentage" style="width: 0%;"></div>
                        </div>
                        <div class="percentage-value">0%</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="genre">
                        <div class="genre-name">Sci-Fi</div>
                        <div class="percentage-bar">
                            <div class="percentage" style="width: 0%;"></div>
                        </div>
                        <div class="percentage-value">0%</div>
                    </div>
                </div>
            </div>
            <!-- Repeat the above three columns for each genre -->
            <div class="row">
                <div class="col-md-4">
                    <div class="genre">
                        <div class="genre-name">Horror</div>
                        <div class="percentage-bar">
                            <div class="percentage" style="width: 0%;"></div>
                        </div>
                        <div class="percentage-value">0%</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="genre">
                        <div class="genre-name">Historical</div>
                        <div class="percentage-bar">
                            <div class="percentage" style="width: 0%;"></div>
                        </div>
                        <div class="percentage-value">0%</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="genre">
                        <div class="genre-name">Fantasy</div>
                        <div class="percentage-bar">
                            <div class="percentage" style="width: 5%;"></div>
                        </div>
                        <div class="percentage-value">5%</div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Ratings Section -->
            <div class="ratings">
                <h3>Ratings</h3>
                <div class="movie-list">
                    <div class="movie">
                        <img src="images/megamind_poster.jpg" alt="Movie Title 1" class="movie-poster" />
                        <div class="movie-title">Megamind</div>
                        <div class="stars">⭐⭐⭐⭐⭐</div> <!-- Display stars or any rating representation -->
                    </div>
                    <div class="movie">
                        <img src="images/walleposter.jpg" alt="Movie Title 2" class="movie-poster" />
                        <div class="movie-title">Wall-E</div>
                        <div class="stars">⭐⭐⭐⭐</div>
                    </div>
                    <!-- Add more movies as needed -->
                </div>
                <a href="#" class="view-more-link">View More</a>
            </div>



    <!-- Watched Movies Section -->
        <div class="watched-movies">
            <h3>Watched Movies</h3>
            <div class="movie-list">
                <div class="movie">
                    <img src="images/megamind_poster.jpg" alt="Movie Title 1" class="movie-poster" />
                    <div class="movie-title">Megamind</div>
                </div>
                <div class="movie">
                    <img src="images/walleposter.jpg" alt="Movie Title 2" class="movie-poster" />
                    <div class="movie-title">Wall-E</div>
                </div>
            </div>
            <a href="#" class="view-more-link">View More</a>
        </div>

    <!-- Watchlist Section -->
    <div class="watchlist">
        <h3>Watchlist</h3>
            <div class="movie-list">
                <div class="movie">
                    <a href="taylorswift">
                    <img src="images/taylorswift.jpg" alt="Movie Title 1" class="movie-poster" />
                    </a>
                    <div class="movie-title">Taylor Swift The Eras Tour</div>
                </div>
                <div class="movie">
                    <img src="images/spidermanhc.jpg" alt="Movie Title 1" class="movie-poster" />
                    <div class="movie-title">Spider-Man: Homecoming</div>
                </div>
                <!-- Add more movies as needed -->
            </div>
            <a href="#" class="view-more-link">View More</a>
        </div>
        <!-- Add your watchlist content here -->
    </div>
</div>
</div>
    </div>



        


