@page
@model ScarletScreen.Pages.taylorswiftModel
@{
	ViewData["Title"] = "Taylor Swift The Eras Tour";
}
<head>
    <link rel="stylesheet" href="~/css/moviepage.css" asp-append-version="true" />

</head>


<main class="movie-page">
    <div class="poster-container">
        <img src="images/taylorswift.jpg" alt="Movie Title" class="poster">
        <div class="video-container">
            <iframe src="https://www.fandango.com/videos/player/taylor-swift-the-eras-tour-2260017219604?autoPlay=true&from=flixster" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="movie-details">
        <h1 class="title">Taylor Swift The Eras Tour</h1>
        <p class="rating">Rating: 8.5/10</p>
        <p class="description">The cultural phenomenon continues as pop icon Taylor Swift performs hit songs in a once-in-a-lifetime concert experience.</p>
        <button id="watchNowBtn" class="btn btn-primary">Watch Now</button>
        <!-- Create a modal for streaming options -->
        <div id="streamingModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Streaming Options</h2>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <ul id="streamingserviceList">
                    <!-- Add streaming service options dynamically with JavaScript -->
                </ul>
            </div>
        </div>

        <h1 class="title">Reviews</h1>
        <p class="Reviews">User reviews go here.</p>
    </div>

    <!-- Rest of the content (cast & crew, reviews) goes here -->
</main>
